  html {
    scroll-behavior: smooth;
  }

  body {
    background-image: linear-gradient(black, gray);
    font-family: 'Amatic SC', cursive;
    margin: auto;
    max-width: 1100px;
   }

  header {
       background-image: url(big_pizza.jpg);
       background-size: cover;
       color: white;
       height: 100vh;
   }

   .header_content {
       margin: auto;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       height: 100%;
   }

   .header_label {
    padding-left: 10%;
    margin: 0;
   }

   .mr-auto, .mx-auto {
    margin: 0 auto 70px;
   }

   .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    background-image: linear-gradient(#46181894, rgba(128, 128, 128, 0));
   }

   .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
    text-shadow: 0px 1px 10px #6c757d;
   }

   .header_content > * {
       flex: 1;
   }

   header h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 10rem;
    color: rgba(255, 255, 255, 0.815);
    text-shadow: -5px 4px 5px black;
    margin: 0;
   }

   header p {
       font-size: 4rem;
       margin: 0;
       text-shadow: -5px 4px 5px black;
   }

    #about_us h3 {
        font-size: 2rem;
    }

    #about_us p {
        font-size: 25px;
        margin: 20px 30px 70px;
    }

    #menu_bar {
        clear: both;
        color: white;
        background-image: linear-gradient(#461818, rgba(128, 128, 128, 0.226));
        margin: 25px auto 0;
        width: 80%;
        height: 30px;
   }

   #menu_bar li {
       display: inline-block;
       width: 19%;
       text-align: center;
   }

   a {
       text-decoration: none;
       color: white;
   }
   #about_us {
        color: white;
        text-align: center;
   }

   #galery {
    text-align: center;
   }

    footer {
        color: white;
        text-align: center;
    }

    .gallery {
        display: flex;
        justify-content: space-around;
    }

    .gallery img {
        width: 100%;
        display: block;
    }

    .gallery div {
        width: 30%;
    }

    .center_img{
        position: relative;
    }

    .choose_menu_btn {
        background-color: #afaeae71;
        border: none;
        color: white;
        padding: 10px 23px 10px;
        text-align: center;
        font-size: 25px;
        opacity: 0.6;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        position: absolute;
        left: 10%;
        bottom: 0;
        width: 80%;
        font-family: 'Amatic SC', cursive;
    }

    .choose_menu_btn:hover {
        opacity: 1;
    }

    ul {
        list-style-type: none;
    }

    #menu {
        display: flex;
        justify-content: space-around;
        margin: 3em auto;
    }
    .menu_column {
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex: 1;

    }
    .menu_item {
       padding: 0;
    }

    .menu_title {
        font-size: 32px;
    }

    .dish_name {
        font-weight: 700;
        font-size: 25px;
    }

    .composition {
        font-size: 19px;
        padding: 14px auto 18px;
        color: rgba(196, 189, 181, 0.63);
    }

    .price {
        font-size: 23px;
        color: rgba(255, 208, 0, 0.932);
    }

    #reservetion_btn {
        background-color: #e6eef567;
        border-radius: 5px;
        border: 0;
        display: inline-block;
        cursor: pointer;
        color: #090909;
        font-family: 'Amatic SC', cursive;
        font-size: 22px;
        font-weight: bold;
        padding: 8px 31px;
        text-decoration: none;
        margin: auto auto 50px;
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 23px 35px;
    }

    .call_icon {
        width: 20px;
        padding: 0 12px 0;
    }

    .inst_icon {
        width: 20px;
        padding: 0 12px 0;
    }

    .fb_icon {
        width: 20px;
        padding: 0 12px 0;
    }

    .mail_icon {
        width: 20px;
        padding: 0 12px 0;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        font-size: 35px;
        color: white;
    }

    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: rgb(206, 204, 204);
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: .3rem;
        outline: 0;
        color: black;
    }

     footer p {
        font-size: 21px;
    }

    @media screen and (max-width: 768px) {
        #menu {
            flex-direction: column;
        }
        .navbar-expand-lg .navbar-nav {
            flex-direction: column;
            font-size: 20px;
            color: white;
            background-image: linear-gradient(#46181800, rgba(128, 128, 128, 0));
        }

        .header_label {
          padding-left: 0;
          text-align: center;
        }

        .header_label h1 {
            font-size: 8rem;
        }

        .gallery{
            flex-direction: column;
            align-items: center;
        }

        .center_img {
            margin: 20px;
        }

        .gallery div {
            width: 90%;
        }

        .choose_menu_btn {
            display: none;
      }
    }
